* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #000;
    color: #ffffff;
    /*FDBF00 yellow */
    /*#0095FF blue*/  
}

::selection {
    background-color: #F1D302;
    color: aqua;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    font-size: 2rem;
}

.header-section {
    /* padding-block: 8rem; */
    /* text-align: center; */
    /* line-height: 4rem; */
    display: grid;
    grid-template-columns: 50% 50%;
    padding-block: 2rem;
}

.left-hand {
    padding-top: 8rem;
    text-align: center;
    line-height: 4rem;
}

.right-hand {
    display: grid;
    place-items: center;
}

.right-hand > img {
   max-width: 80%;
   max-height: 100%;
}

.header-section > p {
    font-size: 18px;
}

.landing-bt {
    padding: .5rem 2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-top: 2rem;
    text-transform: uppercase;
    border: none;
}

.landing-bt a {
    text-decoration: none;
    color: black;
}

.yellow-btn {
    background-color: #F1D302;
    /* margin-right: .5rem; */
}

.green-btn {
    background-color: #43B929;
    /* margin-left:   .5rem; */
}

.line {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.yellow {
    background-color: #F1D302;
    height: 2px;
    width: 50%;
}

.green {
    background-color: #43B929;
    width: 50%;
    height: 2px;
}

.container {
    width: 100vw;
    padding-inline: 5rem;
}

.coding {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.coding--child {
    padding-top: 5rem;
}

.coding--child h2 {
   font-size: 2rem;
    margin-bottom: 1.5rem;
}

.coding--child p {
    line-height: 1.8rem;
}

.coding--child-with-img img {
   width: 100%;
   height: 100%;
}

.btn-sub {
    margin-top: 3rem;
    background-color: #43B929;
    padding: .5rem 2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
}

.btn-sub a {
    text-decoration: none;
    color: black;
}

.card-container {
    width: 100%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    margin-bottom: 7rem;
}

.card-container__card {
    background-color: rgb(39, 30, 30);
    padding: 2rem 1rem;
    transition: 300ms ease-in-out;
}

.card-container__card:hover {
    transform: rotateZ(2deg);
}

.card-container__card h3 {
    margin-block: 1rem;
}

.features--box {
    margin-bottom: 7rem;
}

.features--box h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.para {
    text-align: center;
    margin-bottom: 6.5rem;
    line-height: 1.8rem;
    padding-inline: 4.5rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 50px;
}

.features__child {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.images-icon {
   padding-right: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.checked {
    width: 50px;
}

.features__child--children h3 {
    margin-bottom: 1rem;
}

.works {
    text-align: center;
    margin-bottom: 7rem;
}

.works h2 {
    margin-bottom: 2rem;
}

.works p {
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    padding-inline: 4.5rem;
}

.works--images {
    width: 50px;
    margin: 1rem;
}

.blog-page {
    margin-inline: auto;
    margin-bottom: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem 1rem;
}

.blog-images {
    opacity: 0.5;
    max-width: 100%;
}

.blog-images:hover {
    opacity: 1;
}

.blog h3 {
    margin-block: .5rem;
}

.contact {
    margin-bottom: 7rem;
}
.spec-h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.summer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.summer-head {
    background-color: rgb(39, 30, 30);
    padding: 1rem 5rem 1rem 2rem;
    text-align: center;
}

.contact-form {
    padding: 2rem;
}

.about {
    padding: 2rem;
    line-height: 1.5rem;
}

input, textarea {
    width: 80%;
    padding: 6px;
    margin-top: .3rem;
    margin-bottom: 1.5rem;
    border: none;
}

.form-submit {
    padding: .5rem 2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin-top: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: #43B929;
}

.switch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
}

.switch-wrapper {
    padding: 5rem;
    border: #F1D302 1px solid;
}

/*-------toggle page design*/
.toggle-page {
    margin-top: 3rem;
}

.iphone {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 7rem;
}

.iphone-box {
    background-color: rgb(39, 30, 30);
    border-radius: .50em;
}

.iphone-box > div:nth-child(4) {
    border-bottom: none;
}

.iphone-contents {
    display: flex;
    order: 2;
}

.wrapperrr > p {
    order: 1;
}
/*this the box that wraps the whole contents*/

.wrapperrr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(180, 179, 179);
}
/*main*/

.toggle {
    display: none;
}
/*hide toggle*/

input[type="checkbox"].toggle + label{
    position: relative;
    display: flex;
}
/*needed to flex this so i could see the toggle and also relative to be the switch parent*/


input[type="checkbox"].toggle + label::before {
    content: "";
    width: 3em;
    height: 1.75em;
    border-radius: 1.5em;
    background-color: white;
    transition: .45s;
}
/*the switch white bg*/

input[type="checkbox"].toggle:checked + label::before{
    background-color:#bef2b3;
    transition: .45s;
}
/*this changes the background color when it get toggled*/

input[type="checkbox"].toggle + label::after {
    content: "";
    position: absolute;
    width: 1.5em;
    /*height: 1.5em;*/
    height: .90em;
    left: .1em;
    top: .25em;
    /*border-radius: 1em;*/
    transform: rotateZ(-45deg);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #F1D302;
    transition: .45s;
} 
/*switch toggle to the left with yellow bg*/

input[type="checkbox"].toggle:checked + label::after {
    left: .75em;
    top: .25em;
    background-color: #43B929;
    transition: .45s;
    transform: translateX(10px)/*<<<this right here kinda like tells the switch to move 10px to the other side. it is super important for the whole transition to work*/ 
    rotateZ(45deg);
}
/*switch toggle to the right with green bg*/

.capping {
    display: flex;
    align-items: center;
}

.capping > img {
    margin-right: .5rem;
}

.new {
    margin-bottom: 5rem;
}
.pages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.pages > li {
    text-align: center;
    list-style-type: none;
    background-color: rgb(39, 30, 30);
    padding: .50rem;
}

.pages > li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.pages > li:hover {
    border: 3px solid white;
    transition: .45s;
}

.page-container {
    margin-bottom: 2rem;
}
/*----------------------*/
/*on click page*/
.warn {
    width: 80%;
    margin-inline: auto;
    margin-top: 5rem;
    padding-inline: 3%;
    padding-block: 5rem;
    text-align: center;
    line-height: 2em;
}

.button-park {
    padding-block: 2rem;
}

.warn-button {
    padding: .8em 2em;
    margin-block: 2rem;
    margin-inline: 1rem;
    border-radius: .25em;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.warning {
    background-color: red;
}

.hit {
    background-color: #43B929;
}

.by-id > h1 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

.new {
    width: 80%;
    margin-inline: auto;
    margin-top: 5rem;
    padding-block: 2rem;
    padding-inline: 3%;
}

.by-id {
    background-color: white;
    color: black;
}

.butty {
    padding: .8em 2em;
    margin-block: 2rem;
    margin-inline: 1rem;
    border-radius: .25em;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: yellow;
    color: green;
    cursor: pointer;
}

/*menu*/
.logo-img {
    margin-left: 3%;
}
.navigation-list> li a {
     text-decoration: none;
     color: white;
     font-weight: 700;
}

.navigation-list> li a:hover {
    color: #a2a2a2;
}

.navigation-list> li {
    margin-left: 1.5em;
    list-style-type: none;
}

.menu-wrap {
    /* padding-inline: 3%; */
    padding-block: 1em;
    width: 100%;
    background-color: #000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    display: flex;
}

.check-navi, .chec, .menu-grid {
    display: none;
}

input[type="checkbox"].check-nav {
    display: none;
}


@media screen and (max-width: 960px) {
.navigation {
    display: none;
}

.navigation-list {
    display: block;
    text-align: center;
    padding-bottom: 2em;
}

.navigation-list li {
    margin-top: 1em;
    padding-top: 1em;
}

input[type=checkbox].check-navi:checked + .navigation, .menu-grid {
     display: block;
     position: absolute;
     left: 0;
     top: 55px;
     width: 100%;
     background-color: rgb(35, 27, 27);
}

.menu-grid {
     top: 387px;
     left: 0;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1em;
     padding: 1em;
}

.menu-grid_item {
    background-color: rgb(72, 33, 33);
    padding: 1em;
}

.navigation-list li a {
    color: #fff;
}

.wrap-me {
    position: relative;
}

.chec {
    display: block;
    position: absolute;
    right: 3%;
    top: 5px;
    font-weight: 800;
}

    .header-section {
        display: block;
    }

    .right-hand {
        margin-top: 2.5rem;
        order: 1;
    }

    .right-hand > img {
        max-width: 100%;
     }

    .features__child {
        text-align: center;
        display: block;
    }

    .works p, .para {
        padding-inline: unset;
    }

    .container {
        padding-inline: 1rem;
    }

    .btn-sub {
        width: 100%;
    }

    .coding--child {
        order: 2;
        padding-top: 2rem;
        text-align: center;
    }

    .coding--child-with-img {
        order: 1;
    }

    .images-icon {
        padding-right: unset;
    }

    .summer {
        display: block;
    }

    .summer-details {
        margin-bottom: 1rem;
    }

    .iphone {
        display: block;
    }

    .ip-box {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 495px) {
    .left-hand {
        padding-inline: 1.5rem;
    }

}





